* {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
}

.brifont {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* .trans{
  transition: 0.1s ;
} */
